<!--this page will be shown in the right sided iframe on home page.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>announcements</title>
</head>
<body>
    <!--announcements-->
    <div class="div-announcemnt">
        <div class="div-announcement-content">
            <h2 class="announcement-heading">Announcement 1</h2>
            <p class="announcement-paragraph">Here goes the details of annoucements</p>
        </div>
        <div class="div-announcement-content">
            <h2 class="announcement-heading">Announcement 2</h2>
            <p class="announcement-paragraph">Here goes the details of annoucements</p>
        </div>

        <div class="div-announcement-content">
            <h2 class="announcement-heading">Announcement 3</h2>
            <p class="announcement-paragraph">Here goes the details of annoucements</p>
        </div>

        <div class="div-announcement-content">
            <h2 class="announcement-heading">Announcement 4</h2>
            <p class="announcement-paragraph">Here goes the details of annoucements</p>
        </div>

        <div class="div-announcement-content">
            <h2 class="announcement-heading">Announcement 5</h2>
            <p class="announcement-paragraph">Here goes the details of annoucements</p>
        </div>

        <div class="div-announcement-content">
            <h2 class="announcement-heading">Announcement 6</h2>
            <p class="announcement-paragraph">Here goes the details of annoucements</p>
        </div>
        <div class="div-announcement-content">
            <h2 class="announcement-heading">Announcement 7</h2>
            <p class="announcement-paragraph">Here goes the details of annoucements</p>
        </div>
    </div>
</body>
</html>