<!doctype html>
<title>Home</title>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/home_page.css">

</head>
<body>
    <div class="div-header">
        <a class="brand-logo" href="home.html"><img src="assets/brand_logo.jpg" alt="brand logo"></a>
        <h2 class="brand-name">Company XYZ</h2>
        <div class="nav-link-container">
            <a class="nav-link" href="register.html">Register</a>
            <a class="nav-link" href="login_page.html">Login</a>
        </div>

    </div>
    <div class="div-left_page-content">
        <ul>
            <!--list of links-->
            <!--on click the pages would be shown on the center iframe on home page-->
            <li class="list-no-style"><a href="image_maps.html" target="center">Image mapping</a></li>
            <li class="list-no-style"><a href="xml_dropdown.xhtml" target="center">Xml dropdown</a></li>
            <li class="list-no-style"><a href="10fistfingers.html" target="center">Typing Test</a></li>
        </ul>
    </div>
    <iframe class="iframe-center" name="center" src="" frameborder="0" ></iframe>
    <iframe class="iframe-right" name="right" src="announcement_page.html" frameborder="0" ></iframe>
    <div class="div-footer">
        <p>&copy; Copyright 1999-2021. All rights reserved.</p>
    </div>
</body>