<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user-login</title>
</head>
<body>
    <div class="div-header">
        <a class="brand-logo" href="home.html"><img src="/assets/brand_logo.jpg" alt="brand logo"></a>
        <h2 class="brand-name">Company XYZ</h2>
        <div class="nav-link-container">
            <a class="nav-link" href="register.html">Register</a>
            <a class="nav-link" href="login_page.html">Login</a>
        </div>

    </div>
    <center>
        <br><br><br><br><br><br><br>
        <div class="div-form">
            <!--login form-->
            <form action="home.html" method="POST">
                <label for="userName">User Name</label><br>
                <input type="text" name="userName" placeholder="Your name goes here.."><br>
                <label for="password">Password</label><br>
                <input type="password" name="password" placeholder="password here.."><br>
                <input class="submit-button" type="submit" name="submit" value="login">
            </form>
        </div>
        </center>
    </center>
</body>
</html>