<html>
<head>
<title> DrSantosh Web Page</title>
<style>
    ::-webkit-scrollbar {
        display: none;
    }
    body{
        background-color:rgba(255, 217, 0, 0);
        animation:infinite;
    }
</style>
</head>
<body>
<h1> Information about the Publications </h1>

'b tag-->' <b>Lovely Professional University </b> <br> <br>
'i tag-->' <i>Lovely Professional University </i> <br> <br>
'u tag-->' <u> Lovely Professional University </u> <br> <br>
'em tag-->' <em>  Lovely Professional University </em> <br> <br>
'strong tag-->' <strong> Lovely Professional University </strong> <br> <br>
'tt tag-->' <tt>  Lovely Professional University </tt> <br> <br>
'cite tag-->' <cite>  Lovely Professional University </cite> <br> <br>

'strike tag-->' <strike> Lovely Professional University </strike> <br> <br>
'big tag-->' <big> Lovely Professional University </big> <br> <br>
'small tag' <small> Lovely Professional University </small> <br> <br>
'sub tag-->' <p> P<sub> 2 </sub> </p><br> <br>
'sup tag-->' P<sup> 2 </sup> <br> <br>
<sub>Lovely Professional University </sub> <br> <br>
<sup> Lovely Professional University </sup> <br> <br>
<br>
'u,b and i tag-->' <b><i><u> Lovely Professional University </i></u></b> <br> <br>
</body>
</html>

