* {
    /* background-color: gold; */
    padding: 0px;
    margin: 0px;
    color: #0c0d0eb6;
    box-sizing: border-box;
}
body{
    background-color: gold;
}
div{
    padding: 15px;
}
/* ...........heading and paragraph...............*/
h1,
h2{
    margin-bottom: 5px;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 10px;
    opacity: 70%;
}

/*.................links..............*/
ul{
    padding: 0px;
    list-style-type: none;
    margin: 0px;
}
li{
    margin-left: 5px;
    list-style-type: disc;
    padding-top:5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
li:hover{
    color: white ;
    background-color: rgba(255, 187, 0, 0.589);
}

a{
    padding:5px 40px 10px 0px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.030) ;
}
a:hover{
    color:black;
    text-decoration: underline;
}

/*styling  page header....................................................*/

/*header*/
.div-header{
    display: flex;
    width: 100%;
    padding:15px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 1px rgb(185, 159, 7);
}
.brand-logo{
    padding: 0px !important;
}
.div-header img{
    margin-inline-end: 10px;
    display: inline-block;
    max-width: 60px;
    max-height: 60px;
}
.div-header h2{
    color: black;
    font-size: 26px;
    font-family: 'Architects Daughter', cursive;
    display: inline-block;
}
.div-header .nav-link-container{
    margin-left: auto;
}
.nav-link{
    padding: 5px;
    margin:5px;
}




/* .................Form.............................*/
form{
    margin: 10px;
    font-family: 'Times New Roman';
    font-size: 18px;
}
label{
    max-width:250px;
    position: absolute;
    z-index: 1;
    color: #0c0d0e9c;
    margin: 3px;
}
.div-form{
    align-content: center;
    text-align: left;
    margin: 16px;
    max-width:350px;
    border-radius: 2px;
    background-color: rgba(255, 217, 0, 0.26);
    padding:24px;
    border: 1px solid rgba(0, 0, 0, 0.050);
    box-shadow: 10px 10px 10px 1px #746e6e44;
}
input,select{
    background-color: gold;
    margin: 3px;
    max-width:250px;
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 0.6em 0.7em;
    border-radius: 2px;
}

input[type='text']
{
    width: 100%;
}
input[type='email']{
    width:100%;
}
input[type='password']{
    width:100%;
}
input[type='submit']{
    width:100%;
}
input:hover,select:hover{
    color: black;
    border:1px solid black;
}

::placeholder{
    color:gray;
    visibility: hidden;
}

select{
    color: #0c0d0eb6;
    max-width:250px;
    width: 100%;
    margin: 3px;
    margin-bottom: 10px;
    background-color: gold;
}
#register-button{
    color: rgb(95, 34, 34);
    max-width:250px;
    width: 100%;
    margin-top: 15px;
}
.submit-button:hover{
    border-color: red;
}
::-webkit-scrollbar {
    display: none;
}

/* ..............annoucement page........................................*/

.div-announcement{
    padding:0px ;
    margin: 0px;
}

.div-announcement-content{
    padding:0px 0px 15px 0px;
    margin:0px;
}
.announcement-heading{
    font-size: 25px;
    color: black;
    opacity: 75%;
}